
@{
    ViewData["Title"] = "OrderConfirmation";
}

<h2>OrderConfirmation</h2>

<div class="form-text">
    Your Order has been submitted. You will receive your order within 3 to 5 business days. Please feel free to contact us anytime you have any questions.
</div>
<br />
<partial name="~/Views/Shared/_OrderProductDetails.cshtml" model="Model.Products" />
<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-success"> Back to Products</a>
